<h4> <%= "#{computer.owner}'s #{computer.manufacturer} #{computer.model} (#{computer.status.humanize})" %> </h4>
<h4> <%= "RAM: #{computer.ram} GB | Storage: #{computer.space} GB | Processor: #{computer.processor} GHz" %> </h4>
