<p id="notice"><%= notice %></p>

<h1>Computers</h1>

<% @computers.select { |c| !c.history }.each do |computer| %>
<h3> <%=link_to "#{computer.title}", computer %> </h3>
<%= render partial: 'root_computer', locals: {computer: computer} %>
<% end %>
