<p id="notice"><%= notice %></p>

<h1>Computers</h1>

<% @computers.each do |computer| %>
<h3><u> <%=link_to "#{computer.title}", computer %> </u></h3>
<%= render partial: 'root_computer', locals: {computer: computer} %>
<% end %>
