<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#pc"><h3><strong>&nbspNew PC&nbsp</strong></h3></a></li>
  <li><a data-toggle="tab" href="#mac"><h3><strong>&nbspNew Mac&nbsp</strong></h3></a></li>
</ul>
</br>
<div class="tab-content">
  <div id="pc" class="tab-pane fade in active">
    <%= render partial: 'pc_form', locals: {computer: @computer} %>
  </div>
  <div id="mac" class="tab-pane fade">
    <%= render partial: 'mac_form', locals: {computer: @computer} %>
  </div>
</div>
