<h3>Overwriting <%= "#{@computer.possessive_name} | #{@computer.date}" %></h3>

<% list_init %>

<%= render 'form_decider', url: inplace_computer_path(@computer) %>

<%= link_to 'Back', computers_path %>
